<p>Здравствуйте, <%= name %>!</p>
<p>Владелец <a href="<%= ownerLink %>"><%= user.title %></a> подал заявление на владение <a href="<%= questLink %>">квестом</a>.</p>
<p></p>
<p>С уважением, ваша команда EQ.</p>
<p><%= emailSupport %></p>
