<p>Здравствуйте, <%= name %>!</p>
<p>Изменение от <%= quest.lastEditor %> квеста <a href="<%= questLink %>"><%= quest.title %></a> были одобрены.</p>
<p></p>
<p>С уважением, ваша команда EQ.</p>
<p><%= emailSupport %></p>
