<p>Здравствуйте, <%= name %>!</p>
<p><%= user.role %> <%= user.title %>  изменил <a href="<%= questLink %>"><%= quest.title %></a>. Требуется предмодерация.</p>
<p></p>
<p>С уважением, ваша команда EQ.</p>
<p><%= emailSupport %></p>
