<p>Здравствуйте, <%= name %>!</p>
<p>Отчет по забронированным сеансам за день.</p>
<% if(body.length) { %>
<table border="1">
    <tr>
        <th>Дата</th>
        <th>Город</th>
        <th>Квест</th>
        <th>Способ оплаты</th>
        <th>ФИО</th>
        <th>Телефон</th>
        <th>Статус бронирования</th>
        <th>Причина отмены</th>
    </tr>
    <% for(var i = 0; i < body.length; i++) { %>
    <tr>
        <td><%= body[i].reservationDate %></td>
        <td><%= body[i].city %></td>
        <td><%= body[i].quest %></td>
        <td><%= body[i].payType %></td>
        <td><%= body[i].userName %></td>
        <td><%= body[i].userPhone %></td>
        <td><%= body[i].status %></td>
        <td><%= body[i].cancelReason || '' %></td>
    </tr>
    <% } %>
</table>
<% } else { %>
<p>Сегодня нет забронированных сеансов.</p>
<% } %>
<p>С уважением, ваша команда EQ.</p>
<p><%= emailSupport %></p>
