<p>Здравствуйте, <%= name %>!</p>
<p>Сообщаем вам, что ваш <a href="<%= commentLink %>">комментарий</a> был <%= status %> Администратором в квесте <%= questName %>.</p>
<p></p>
<p>С уважением, ваша команда EQ.</p>
<p><%= emailSupport %></p>
