<p>Здравствуйте, <%= name %>!</p>
<p>На <a href="<%= questLink %>">квест</a> был назначен владелец <a href="<%= ownerLink %>"><%= owner.title %></a>.</p>
<p></p>
<p>С уважением, ваша команда EQ.</p>
<p><%= emailSupport %></p>
